*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    background-attachment: fixed;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

header, nav{
    position: sticky;
    top: 0px;
    z-index: 10;
}

header{
    grid-column: 2/3;
    background-color: #550C18;
    color: #FFF;
    float: right;
}

nav{
    grid-column: 3/8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    padding-left: 6rem;
    font-size: medium;
    background-color: #550C18;
}

nav a{
    background-color: #273E47;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 3px;
}

nav a:hover{
    background-color: #588157;
}

section{
    grid-column: 2/8;
    background-color: #273E47;
    color:#FFF;
    padding: 0px;
    border-radius: 50px;
    box-shadow: -10px 10px #FFF;
    margin: 30px;
    flex-shrink: inherit;
}

section, form{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

form{
    display: inline;
    position: relative;
    right: -100px;
    bottom: -50px;
}

input{
    border-radius: 100px;
    padding: 25px;
    font-size: large;
    border: none;
    outline: none;
    box-shadow: none;
}

table, th, td{
    grid-column: 2/8;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}

td, td a{
    color: #000;
    text-align: center;
}

tr:nth-child(1){
    background-color: #550C18;
    color: #FFF;
}

footer{
    grid-column: 2/8;
    background-color: #550C18;
    color: #FFF;
    padding: 2.5% 5% 2.5% 5%;
}

#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: #d9d9d9;
}

#articlebar{
    grid-column: 2/8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#articlebar article{
    margin: 20px;
    width: 100%;
    padding: 0;
    background-color: #273E47;
    color: #FFF;
    border-radius: 25px;
}

#articlebar #rip, #articlebar #faldorn, #articlebar #safana{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: auto;
}

#articlebar h3{
    background-color: #550C18;
    padding: 20px;
    text-align: center;
    margin: 0;
}

#articlebar p{
    padding: 20px;
    background-color: #CED0CE;
    color: #000;
}

#articlebar article img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}

#detail{
    width: 15%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #042A2B;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#detail img{
    rotate: 30deg;
    width: 100%;
    padding: 2.5rem 10px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

#sub_button{
    background-color: #588157;
    color: #FFF;
    position: relative;
    left: -85px;
    
}

#sub_button:hover{
    background-color: #550C18;
}

#content{
    font-size: 20px;
    padding: 2.5rem 10px;
    width: fit-content;
    vertical-align: middle;
}

#message{
    font-size: x-large;
}

#backup{
    display: none;
}

#all_decks_current{
    grid-column: 2/8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#founder{
    grid-column: 3 / 7;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#founder img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-width: 300px;
    align-items: center;
    float: left;
    box-shadow: 15px 10px #550C18;
    margin: 10px;
}

#founder p{
    background-color: #273E47;
    float: right;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.8;
}

.goto{
    height: auto;
    text-decoration: none;
    color: #FFF;
    background-color: #588157;
    border-radius: 5px;
    padding: 2%;
    float: right;
    margin-bottom: 25px;
    margin-right: 10px;
}

.goto:hover{
    background-color: #550C18;
}

.contact{
    width: 100%;
    grid-column: 2 / 8;
    background-color: #CED0CE;
    color: #000;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title{
    grid-column: 3/7;
    display: flex;
    justify-content: center;
}

.title h1{
    background-color: #550C18;
    color:#fff;
    text-align: center;
    border-radius: 50px;
    padding: 1.5%;
}

.color{
    display: flex;
    margin: 20px;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    background-color: #273E47;
    color: #FFF;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.color h2{
    display: flex;
    justify-content: center;
}

.color h3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.color{
    line-height: 1.8;
}

.color p a{
    display: flex;
    text-decoration: none;
    color: #fff;
    background: #588157;
    width: fit-content;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    line-height: normal;
}

.color p a:hover{
    background-color: #550C18;
}

.all_decks{
    grid-column: 2/8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.deck{
    max-width: 200px;
    margin: 20px;
    width: 100%;
    padding: 0;
    background-color: #273E47;
    color: #FFF;
    border-radius: 25px;
}

.deck h3{
    background-color: #550C18;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

.deck p{
    padding: 20px;
    background-color: #CED0CE;
    color: #000;
}

.deck .deck_icon{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: auto;
}

.deck img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}

.deck .goto{
    display: flex;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 0px;
}

@media screen and (max-width: 992px) {
    header{
        display: none;
    }

    nav{
        top: 0;
        grid-column: 2/8;
        padding: 0px;
        padding-right: 10px;
        margin: 0px;
    }
    
    section{
        flex-wrap: nowrap;
    }

    form, input{
        flex-wrap: wrap;
        padding: 10px;
    }

    form{
        position: relative;
        left: 10%;
    }

    input, #message{
        font-size: medium;
    }

    #wrapper{
        grid-auto-rows: minmax(0px, auto);
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 128px)) minmax(0px, 1fr);
    }

    #sub_button{
        position: absolute;
        left: 160px;
    }

    #backup{
        display: block;
        width: 20px;
        position: relative;
        left: -280px;
    }

}

@media screen and (max-width: 768px) {
    section{
        display: none;
    }

    #wrapper{
        grid-auto-rows: minmax(0px, auto);
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 100%)) minmax(0px, 1fr);
    }

    #articlebar{
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        min-width: 200px;
    }

    .all_decks{
        flex-wrap: wrap;
        min-width: 200px;
    }

    .deck{
        min-width: 200px;
    }

    .contact{
        grid-column: 2/8;
        margin: 0px;
        margin-bottom: 10px;
    }
}