*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    background-attachment: fixed;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

header, nav{
    position: sticky;
    top: 0px;
}

header{
    grid-column: 2/3;
    background-color: #550C18;
    color: #FFF;
    float: right;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    padding-left: 6rem;
    grid-column: 3/8;
    font-size: medium;
    background-color: #550C18;
}

nav a{
    background-color: #273E47;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 3px;
}

nav a:hover{
    background-color: #588157;
}

section{
    grid-column: 2/8;
    background-color: #273E47;
    color:#FFF;
    padding: 0px;
    border-radius: 50px;
    box-shadow: -10px 10px #FFF;
    margin: 30px;
    flex-shrink: inherit;
}

section, form{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

form{
    display: inline;
    position: relative;
    right: -100px;
    bottom: -50px;
}

input{
    border-radius: 100px;
    border: none;
    padding: 25px;
    font-size: large;
}

form #sub_button{
    background-color: #588157;
    color: #FFF;
    position: relative;
    left: -85px;
    
}

form #sub_button:hover{
    background-color: #550C18;
}

footer{
    grid-column: 1/-1;
    background-color: #550C18;
    color: #FFF;
    padding: 2.5% 5% 2.5% 5%;
}

#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: #d9d9d9;
}

#title{
    grid-column: 3/7;
    display: flex;
    justify-content: center;
}

#title h1{
    background-color: #550C18;
    color:#fff;
    text-align: center;
    border-radius: 50px;
    padding: 1.5%;
}

#articlebar{
    grid-column: 2/8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#articlebar article{
    margin: 20px;
    width: 100%;
    padding: 0;
    background-color: #273E47;
    color: #FFF;
    border-radius: 25px;
}

#articlebar #rip, #faldorn, #safana{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#articlebar h3{
    background-color: #550C18;
    padding: 20px;
    text-align: center;
    margin: 0;
}

#articlebar p{
    padding: 20px;
    background-color: #CED0CE;
    color: #000;
}

#articlebar article img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}

#articlebar article #rip, #articlebar article #faldorn, #articlebar article #safana{
    width: 100%;
    height: auto;
}

#detail{
    width: 15%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #042A2B;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#detail img{
    rotate: 30deg;
    width: 100%;
    padding: 2.5rem 10px;
    vertical-align: middle;
}

#content{
    font-size: 20px;
    padding: 2.5rem 10px;
    width: fit-content;
    vertical-align: middle;
}

#message{
    font-size: x-large;
}

.goto{
    height: auto;
    text-decoration: none;
    color: #FFF;
    background-color: #588157;
    border-radius: 5px;
    padding: 2%;
    float: right;
    margin-bottom: 25px;
    margin-right: 10px;
}

.goto:hover{
    background-color: #550C18;
}

.contact{
    width: 100%;
    grid-column: 2 / 4;
    background-color: #CED0CE;
    color: #000;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
}