*{
    box-sizing: border-box;
}

body{
    background-color: #D9D9D9;
    background: linear-gradient(180deg, #D9D9D9, #fff);
    background-attachment: fixed;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

header, nav{
    position: sticky;
    top: 0px;
}

header{
    grid-column: 2/3;
    background-color: #550C18;
    color: #FFF;
    float: right;
}

nav{
    padding: 2rem;
    padding-left: 6rem;
    grid-column: 3/8;
    font-size: medium;
    background-color: #550C18;
}

nav a{
    background-color: #588157;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background-color: #273E47;
}

section{
    grid-column: 2/8;
    background-color: #273E47;
    color:#FFF;
    padding: 0px;
    float: right;
}

section img{
    grid-column: 2;
    float: left;
    rotate: 30deg;
    width: 15%;
    height: auto;
    padding: 0px;
    padding-right: 20px;
    vertical-align: middle;
}

section p, section .goto{
    padding: 5px, 10px;
    display: inline-block;
    border-radius: 5px;
    grid-column: 6/8;
}

section p{
    border-radius: 7px;
    background-color: #FFF;
    color: #000;
}

section .goto{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

section .goto:hover{
    background-color: #550C18;
}

footer{
    grid-column: 1/-1;
    background-color: #550C18;
    color: #FFF;
    padding: 2.5% 5% 2.5% 5%;
}

#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
}

#articlebar{
    grid-column: 2/8;
    border: 1px solid  #fff;
    display: flex;
    flex-flow: row nowrap;
}

#articlebar article{
    border: 1px solid  #fff;
    width: 100%;
    background-color: #550C18;
    color: #FFF;
}

#articlebar h3{
    text-align: center;
}

#articlebar p{
    background-color: #273E47;
}

#articlebar article img{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}

#articlebar article #rip{
    width: 100%;
    height: auto;
}

#articlebar article #faldorn{
    width: 100%;
    height: auto;
}

#articlebar article #safana{
    width: 100%;
    height: auto;
}

.goto{
    text-decoration: none;
    color: #FFF;
    background-color: #588157;
    border-radius: 5px;
    padding: 2%;
}

.goto:hover{
    background-color: #273E47;
}